* {

  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  line-height: 1.32;
  letter-spacing: 1.16px;
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  scroll-behavior: smooth;

}

h1 {

  display: none;

}

button, a {

  cursor: pointer;

  &:disabled {

    cursor: auto;

  }

}

input::-ms-reveal,
input::-ms-clear {

  display: none;

}