.page-not-found-page {
  
  @include setBackgroundColor(darken($light, 12%));

  .main-wrapper {

    @extend .flex, .flex-col, .justify-center, .align-center, .h-100, .gap-8;
    
    *:not(a) {
      
      text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      
    }
    
    span {

      @include setMenuFont(12px);
      font-weight: 400;
      text-transform: none;

      &:hover {

        font-weight: 400;

      }

    }

    .btn {

      @extend .mt-16;

    }

  }

  @media (prefers-color-scheme: dark) {

    @include setBackgroundColor(lighten($dark, 2%));
    
  }

}