.register-page {
  
  @include setBackgroundColor(darken($light, 12%));

  .main-wrapper {

    .form-widget {
  
      box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.08) 0px 1px 4px;
  
      .form-section {

        .ghost-btn {

          @extend .piece, .flex, .justify-center, .align-center, .gap-2, .py-12, .br-8;
          @include setMenuFont(14px);
          margin: 0 auto;
          max-width: 120px;
          background-color: $light;
          opacity: 0;
          transition: all 0.08s ease-in-out;
          animation: fade-in 1.28s forwards ease-in-out;
          animation-delay: 0.32s;
          cursor: pointer;
          
          * {
            
            @include setMenuFont(12px);
            color: rgb(0, 0, 0, 0.72);
            transition: all 0.08s ease-in-out;
  
          }
  
          &:hover {
            
            background-color: $primary;
            color: $light;
  
            * {
  
              color: $light;
  
            }
  
          }
  
          @media (prefers-color-scheme: dark) {
  
            background-color: $dark;
            color: $light;
  
            svg {
  
              color: rgb(255, 255, 255, 0.72);
  
            }
  
            &:hover {
  
              background-color: $secondary;
  
            }
            
          }
  
        }

      }

    }

  }

  .form-widget > .form-text {

    @extend .mb-16;

  }

  @media (prefers-color-scheme: dark) {

    @include setBackgroundColor(lighten($dark, 2%));
    
  }

}