.form-control {

  @extend .flex, .flex-col, .gap-4;

  .icon-input {

    @extend .relative;

    .input-icon {

      @extend .absolute;
      @include setBodyFont(14px);
      right: 16px;
      bottom: 15px;

    }

  }

  .code-input {

    @extend .flex, .align-center, .justify-center, .gap-6;

  }

  .input-text {

    @extend .mx-16;
    @include setBodyFont(8px);
    line-height: 1.16;
    color: $red;
    
    @media (prefers-color-scheme: dark) {
      
      color: $red;
      
    }
  
  }
  
}