#main-container {

  @extend .container, .h-100, .p-24, .y-scroll;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {

    display: none;
    
  }

  .main-wrapper {

    @extend .wrapper;

    @for $i from 1 through 1000 {
    
      & > *:nth-child(#{$i}) {
    
        opacity: 0;
        animation: fade-in 0.64s forwards ease-in-out;
        animation-delay: calc(#{$i} * 0.02s + 0.32s);
    
      }
    
    }

  }

}