.container {

  width: 100%;

}

.wrapper {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

}

.widget {

  width: 100%;
  max-width: 480px;
  margin: 0 auto;

}

.packet {

  width: 100%;
  max-width: 400px;
  margin: 0 auto;

}

.piece {

  width: 100%;
  max-width: 320px;
  margin: 0 auto;

}