.overflow-hidden {

  overflow: hidden;

}

.x-hidden {

  overflow-x: hidden;

}

.y-hidden {

  overflow-y: hidden;

}

.overflow-scroll {

  overflow: scroll;

}

.x-scroll {

  overflow-x: scroll;

}

.y-scroll {

  overflow-y: scroll;

}